/* General Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.container {
  max-width       : 980px;
  background-color: #fff;
  margin          : auto;
  padding         : 20px;
  text-align      : center;
}

a {
  text-decoration: none;
  color          : #2c3e50;
  transition     : color 0.4s ease;
}

a:focus {
  outline: none;
}

/* Search box */
#main-search {
  width        : 85%;
  max-width    : 460px;
  padding      : 10px 10px 10px 30px;
  font-size    : 16px;
  border       : 2px solid #ccc;
  border-radius: 21px;
  transition   : border-color 0.5s ease;
  font-family  : 'FontAwesome', 'Nunito';
}

#main-search:focus {
  border-color: #16a085;
}

#main-search:focus + label .fa {
  color     : #16a085;
  transition: color 0.5s ease;
}

.fa-viadeo-square {
  display      : block;
  margin-bottom: 10px;
  color        : #2980b9;
}

#search {
  position: relative;
}

#search label {
  color   : #ccc;
  position: absolute;
  left    : 27.5%;
  bottom  : 12%;
  display : none;
}

/* Gallery */
#gallery {
  overflow     : hidden;
  margin-top   : 45px;
  margin-bottom: 20px;
}

#gallery img {
  border-radius: 50%;
}

.image-card {
  height       : 200px;
  margin       : auto;
  border-radius: 50%;
}

.image-card:hover > a {
  color: #16a085;
}

.image-card:not( :last-of-type ) {
  margin-bottom: 80px;
}

.image-title {
  display    : block;
  font-weight: 200;
  font-size  : 1.15em;
  padding    : 10px;
  font-family: 'Exo 2', sans-serif;
}

/* Lightbox */
#lightbox {
  position        : fixed;
  top             : 0;
  width           : 100%;
  height          : 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display         : none;
}

.selected {
  display      : block;
  margin       : 30px auto 10px;
  border       : 3px solid #e0e0e0;
  border-radius: 0.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#lightbox .fa:hover {
  cursor: pointer;
}

.container-lightbox {
  max-width: 80%;
  margin   : 0 auto;
  padding: 10px;
}

#prev,
#next {
  position: absolute;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

#close,
#download {
  position: absolute;
  line-height: 48px;
}

#close {
  right    : 33%;
}

#download {
  left: 33%;
}

#controls {
  position : relative;
  height: 48px;
}

#controls .fa {
  transition: color 0.5s ease;
  color: #e0e0e0;
}

#prev:hover,
#close:hover {
  color: #ef5350;
}

#download:hover {
  color: #16a085;
}

#next:hover {
  color: #27ae60;
}

.description {
  color: #fff;
  max-width: 600px;
  display: block;
  line-height: 32px;
  text-align: justify;
  margin-bottom: 20px;
}

@media (min-width: 500px) {
  .container {
    padding-left : 0;
    padding-right: 0;
  }

  .image-card {
    float: left;
    width: 50%;
  }
}
@media (min-width: 800px) {
  .image-card {
    width: 33.3333%;
  }

  .description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #controls {
    width: 60%;
    margin: auto;
  }
}
@media (min-width: 1000px) {
  #search label {
    display: inline-block;
  }
}
@media (min-width: 1100px) {
  .image-card {
    margin-right: 60px;
    width       : auto;
  }

  .image-card:nth-of-type(4n) {
    margin-right: 0;
  }

  .selected {
    max-width: 60%;
  }

}
